<section class="text-center text-sm-start">
    <div class="container">
      <div class="text-center py-5">
        <img src="assets/images/coat-of-arm.jpg" alt="" width="130px" class="mb-2">
        <h1 class="mb-4">Welcome to e-voting</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>Nigeria's premier e-voting application. Designed to curtail electoral malpractices and build voter confidence in the electoral process. Now you can be sure your votes will count as collation of votes is totally automatic.</p>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-6 mb-5">
            <div class="d-grid gap-2 me-md-3">
                <a routerLink="/vin-verification" class="btn btn-success btn-lg">Start Voting</a>
                <a routerLink="/elections" class="btn btn-success btn-lg">Election Polls</a>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <fieldset class="border border-success ms-md-3 p-3">
                <div class="ps-4"><h4><u>How to Vote:</u></h4></div>
                <ol class="px-5 py-3">
                    <li class="pb-3">Jt amet consectetur adipisicing elit Lorem ipsut amet consectetur adipisicing elit Lorem ipsu</li>
                    <li class="pb-3">Amet consectetur adipisicing elit Lorem ipsut amet consectetur apisicing elit Lorem ipsu</li>
                    <li class="pb-3">Sectetur adipisicing elit Lorem ipsut amet consectetur adipisicing elit Lorem ipsu</li>
                    <li class="">Ipsut amet consectetur adipisicing elit Lorem ipsu</li>
                </ol>
            </fieldset>
          </div>
      </div>
    </div>
  </section>